python-dotenv~=1.0.0
waifuim.py
alexflipnote.py
animec~=0.4.2
psutil~=5.9.6
asyncdagpi~=4.1.5
humanize
asyncpraw~=7.7.1
googlesearch-python
aiohttp~=3.9.0
openai==1.10.0
beautifulsoup4~=4.12.2
discord.py==2.2.3
Wavelink==2.1.0